:root {
    --text-color: purple;
}


header h1 {
    color: var(--text-color);
}
main {
    
    
}
main h2{
    color: var(--text-color);
    
}

main p{
    color: var(--text-color);
}

footer h3 {
    color: var(--text-color);
}