:root {
    --text-color: purple;
}


h1 {
    color: var(--text-color);
}
main {
    
    
    
}

h2{
    color: var(--text-color);
    
}

main p{
    color: var(--text-color);
}

footer h3 {
    color: var(--text-color);
}

.title-card{
    height: 5px;
    width: 100px;
    margin: 10px;
    border: 2px solid black;
    display: inline
}

.text-box{
    height: 100px;
    width: 25%;
    margin: 50px;
    border: 5px solid black;
}

footer{
    text-align: center;
}